body{
    background-color: #FFFFFF;
}
table, th {
    width: 45%;
    border: 3px solid black;
    border-collapse: collapse;
  }

  .button {
    margin: 0 5px 5px 0;
    padding: 5px 15px;
    font-size: 1.1em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: black;
    color: #fff;
    background-color: #4CAF50;
    border: 2px;
    border-radius: 1px;
    box-shadow: 0 2px #999;
  }

  .buttonTrash{
    text-align: left;
  }
  /* Column container */
  .row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
  }
  
/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* Main column */
  .main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 20px;
  }